.app {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  width: 100%;
  max-width: 960px;
  padding: 40px;
  margin: 0 auto;
}

.body {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding: 0 40px;
}
